@model WebShop.Web.Models.ProductViewModel

@using (Html.BeginForm("Create", "AdminProduct", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
              @if (@Model.Product != null)
              {
                  <h3 class="box-title">@Model.Product.Id - @Model.Product.Name</h3>
              }
              else
              {
                  <h3 class="box-title">No Product Name</h3>
              }
            </div>
          <div class="box-header">
            <a href='@Url.Action("List")'>@L("BackButtonLabel")</a>
          </div>
            <form role="form">
                <div class="box-body">
                  <div class="form-group">
                    <label for="txtProductName">@L("NameLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.Name, new { @id = "txtProductName", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtProductCode">@L("CodeLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.Code, new { @id = "txtProductCode", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtCategoryId">@L("CategoryIdLabel")</label>
                    @Html.DropDownListFor(@model => @model.Product.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryId, string.Empty, new { @class = "form-control without-styles" })
                  </div>
                  <div class="form-group">
                    <label for="txtOriginPrice">@L("OriginPriceLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.OriginPrice, new { @id = "txtProductOriginPrice", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtSellPrice">@L("SellPriceLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.SellPrice, new { @id = "txtSellPrice", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtQuantity">@L("QuantityLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.Quantity, new { @id = "txtQuantity", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtStatus">@L("StatusLabel")</label>
                    @Html.DropDownListFor(@model => @model.Product.Status, (IEnumerable<SelectListItem>)ViewBag.Status, string.Empty, new { @class = "form-control without-styles" })
                  </div>
                  <div class="form-group">
                    <label for="txtManufactoryId">@L("ManufactoryIdLabel")</label>
                    @Html.DropDownListFor(@model => @model.Product.ManufactoryId, (IEnumerable<SelectListItem>)ViewBag.ManufactoryId, string.Empty, new { @class = "form-control without-styles" })
                  </div>
                  <div class="form-group">
                    <label for="txtBranchId">@L("BranchIdLabel")</label>
                    @Html.DropDownListFor(@model => @model.Product.BranchId, (IEnumerable<SelectListItem>)ViewBag.BranchId, string.Empty, new { @class = "form-control without-styles" })
                  </div>
                  <div class="form-group">
                    <label for="txtCreateDate">@L("CreateDateLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.CreateDate, new { @id = "txtCreateDate", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtUpdateDate">@L("UpdateDateLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.UpdateDate, new { @id = "txtUpdateDate", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtImportDate">@L("ImportDateLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.ImportDate, new { @id = "txtImportDate", @class = "form-control" })
                  </div>
                    <div class="form-group">
                      <label for="fileProductLogo">@L("FeatureImageLabel")</label>
                      <input type="file" name="File" />
                      <p class="help-block">@L("UploadLogoHelpText")</p>
                    <!--  @Model.Product.FeatureImage-->
                    </div>
                    <div class="form-group">
                        <label for="fileImageList">@L("ImageListLabel")</label>
                        <input type="file" id="fileImageList">
                        <p class="help-block">@L("UploadLogoHelpText")</p>
                       <!--  @Model.Product.ImageList-->
                    </div>
                  <div class="form-group">
                    <label for="txtDiscount">@L("DiscountLabel")</label>
                    @Html.TextBoxFor(@model => @model.Product.Discount, new { @id = "txtDiscount", @class = "form-control" })
                  </div>
                  <div class="checkbox">
                    <label>
                      @Html.CheckBoxFor(@model => @model.Product.IsActive) @L("IsActiveLabel")
                    </label>
                  </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">@L("SubmitButtonLabel")</button>
                </div>
            </form>
        </div>
    </div>
</div>
}