@model WebShop.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  <h4>ProductViewModel</h4>
  <hr />
  <dl class="dl-horizontal"></dl>

  @using (Html.BeginForm())
  {
      @Html.AntiForgeryToken()
      @Html.HiddenFor(@model => @model.Product.CreateDate)
      @Html.HiddenFor(@model => @model.Product.Id)
      @Html.HiddenFor(@model => @model.Product.UpdateDate)
      @Html.HiddenFor(@model => @model.Product.ImportDate)
      @Html.HiddenFor(@model => @model.Product.IsActive)
      @Html.HiddenFor(@model => @model.Product.ManufactoryId)
      @Html.HiddenFor(@model => @model.Product.Name)
      @Html.HiddenFor(@model => @model.Product.Code)
      @Html.HiddenFor(@model => @model.Product.CategoryId)
      @Html.HiddenFor(@model => @model.Product.OriginPrice)
      @Html.HiddenFor(@model => @model.Product.SellPrice)
      @Html.HiddenFor(@model => @model.Product.Quantity)
      @Html.HiddenFor(@model => @model.Product.Status)
      @Html.HiddenFor(@model => @model.Product.BranchId)
      @Html.HiddenFor(@model => @model.Product.FeatureImage)
      @Html.HiddenFor(@model => @model.Product.ImageList)
      @Html.HiddenFor(@model => @model.Product.Discount)
      <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
      </div>
  }
</div>
