@using (Html.BeginForm("Update", "AdminProduct", FormMethod.Post))
{
    Product
            }
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Product.Id - @Model.Product.Name</h3>
                @Html.ActionLink(L("BackButtonLabel"), "List", null, new { @class = "btn-link" })
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="txtProductName">@L("NameLabel")</label>
                        <input id="txtProductName" type="text" value="@Model.Product.Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtProductCode">@L("CodeLabel")</label>
                        <input id="txtProductCode" type="text" value="@Model.Product.Code" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtCategoryId">@L("CategoryIdLabel")</label>
                        <input id="txtCategoryId" type="text" value="@Model.Product.CategoryId" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtOriginPrice">@L("OriginPriceLabel")</label>
                        <input id="txtOriginPrice" type="text" value="@Model.Product.OriginPrice" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtSellPrice">@L("SellPriceLabel")</label>
                        <input id="txtSellPrice" type="text" value="@Model.Product.SellPrice" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtQuantity">@L("QuantityLabel")</label>
                        <input id="txtQuantity" type="text" value="@Model.Product.Quantity" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtStatus">@L("StatusLabel")</label>
                        <input id="txtStatus" type="text" value="@Model.Product.Status" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtManufactoryId">@L("ManufactoryIdLabel")</label>
                        <input id="txtManufactoryId" type="text" value="@Model.Product.ManufactoryId" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtBranchId">@L("BranchIdLabel")</label>
                        <input id="txtBranchId" type="text" value="@Model.Product.BranchId" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtCreateDate">@L("CreateDateLabel")</label>
                        <input id="txtCreateDate" type="text" value="@Model.Product.CreateDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtUpdateDate">@L("UpdateDateLabel")</label>
                        <input id="txtUpdateDate" type="text" value="@Model.Product.UpdateDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtImportDate">@L("ImportDateLabel")</label>
                        <input id="txtImportDate" type="text" value="@Model.Product.ImportDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fileFeatureImage">@L("FeatureImageLabel")</label>
                        <input type="file" id="fileFeatureImage">
                        <p class="help-block">@L("UploadLogoHelpText")</p>
                        @Model.Product.FeatureImage
                    </div>
                    <div class="form-group">
                        <label for="fileImageList">@L("ImageListLabel")</label>
                        <input type="file" id="fileImageList">
                        <p class="help-block">@L("UploadLogoHelpText")</p>
                        @Model.Product.ImageList
                    </div>
                    <div class="form-group">
                        <label for="txtDiscount">@L("DiscountLabel")</label>
                        <input id="txtDiscount" type="text" value="@Model.Product.Discount" class="form-control">
                    </div>
                    <div class="checkbox">
                        <label>
                            @if (Model.Product.IsActive)
                            {
                                <input type="checkbox" checked="checked" value="@Model.Product.IsActive"> @L("IsActiveLabel")
                            }
                            else
                            {
                                <input type="checkbox" value="@Model.Product.IsActive"> @L("IsActiveLabel")
                            }
                        </label>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary">@L("EditButtonLabel")</button>
                    <button type="button" class="btn btn-primary">@L("DeleteButtonLabel")</button>
                </div>
            </form>
        </div>
    </div>
</div>
