<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Config Option List</h3>
      </div>
      <div class="box-header">
        <a href='@Url.Action("Create")'>@L("AddNewLabel")</a>
      </div>
      <div class="box-body">
        <table id="tblConfigOptions" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>AppId</th>
              <th>OptionKey</th>
              <th>OptionValue</th>
              <th>CreateBy</th>
              <th>UpdateBy</th>
              <th>Notes</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            @{
                if (Model.ListConfigOptions != null)
                {
                  foreach (var data in Model.ListConfigOptions)
                  {
                        <tr>
                          <td>
                            <a href='@Url.Action("Details", new { id = data.Id })'>@data.Id</a>
                          </td>
                          <td>@data.AppId</td>
                          <td>@data.OptionKey</td>
                          <td>@data.OptionValue</td>
                          <td>@data.CreateBy</td>
                          <td>@data.UpdateBy</td>
                          <td>@data.Notes</td>
                          <td>@data.IsActive</td>
                        </tr>
                  }
                }
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#tblConfigOptions").DataTable();
  });
</script>