@model WebShop.Web.Models.CustomerGroupViewModel

@{
    ViewBag.Title = "Delete";
}
<h3 class="box-title">Delete Customer Group</h3>
<div class="box-header">
  <a href='@Url.Action("List")'>@L("BackButtonLabel")</a>
</div>
<h4>Are you sure you want to delete this?</h4>
<div>
  <dl class="dl-horizontal"></dl>

  @using (Html.BeginForm())
  {
      @Html.AntiForgeryToken()
      @Html.HiddenFor(@model => @model.CustomerGroup.CreateDate)
      @Html.HiddenFor(@model => @model.CustomerGroup.Id)
      @Html.HiddenFor(@model => @model.CustomerGroup.Description)
      @Html.HiddenFor(@model => @model.CustomerGroup.IsActive)
      @Html.HiddenFor(@model => @model.CustomerGroup.Name)
      @Html.HiddenFor(@model => @model.CustomerGroup.UpdateDate)
      <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-primary" />
      </div>
  }
</div>
