@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="ff-team.com">
  <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="~/favicon.ico">

  <!-- Font -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>

  @Styles.Render("~/Bundles/vendor/css")
  @Styles.Render("~/Bundles/css")

  <!-- View specific styles -->
  @RenderSection("styles", required: false)

  <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
  </script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
      <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
  <![endif]-->

  @Scripts.Render("~/Bundles/vendor/js/top")

</head>
<body class="fixed-header hidden-top">
  <div class="page-box">
    <div class="page-box-content">
      @Html.Partial("_TopBox")
      @Html.Partial("_TopBar")

      @{
        string controllerName = ViewBag.ControllerName;
        switch (controllerName)
        {
          case "Home":
            @Html.Partial("_PageSlider");
            break;
          case "Category":
            @Html.Partial("_PageBanner");
            break;
          default:
            break;
        }
      }
      <section id="main">
        @RenderBody()
      </section>
    </div>
  </div>
  @Html.Partial("_Footer")

  @Scripts.Render("~/Bundles/vendor/js/bottom")
  @Scripts.Render("~/Bundles/js")

  <script type="text/javascript">
    abp.localization.defaultSourceName = '@LocalizationSourceName';
          moment.locale('@Thread.CurrentThread.CurrentUICulture.Name'); //Localizing momentjs
  </script>

  <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
  <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
  <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

  <!-- View specific scripts -->
  @RenderSection("scripts", required: false)

</body>
</html>
