@using (Html.BeginForm("Update", "AdminProductBranch", FormMethod.Post))
{
}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.ProductBranch.Id - @Model.ProductBranch.Name</h3>
                @Html.ActionLink(L("BackButtonLabel"), "List", null, new { @class = "btn-link" })
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="txtBranchName">@L("NameLabel")</label>
                        <input id="txtBranchName" type="text" value="@Model.ProductBranch.Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtBranchDescription">@L("DescriptionLabel")</label>
                        <input id="txtBranchDescription" type="text" value="@Model.ProductBranch.Description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtCreateDate">@L("CreateDateLabel")</label>
                        <input id="txtCreateDate" type="text" value="@Model.ProductBranch.CreateDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtUpdateDate">@L("UpdateDateLabel")</label>
                        <input id="txtUpdateDate" type="text" value="@Model.ProductBranch.UpdateDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fileBranchLogo">@L("BranchLogoLabel")</label>
                        <input type="file" id="fileBranchLogo">
                        <p class="help-block">@L("UploadLogoHelpText")</p>
                        @Model.ProductBranch.BranchLogo
                    </div>
                    <div class="checkbox">
                        <label>
                            @if (Model.ProductBranch.IsActive)
                            {
                                <input type="checkbox" checked="checked" value="@Model.ProductBranch.IsActive"> @L("IsActiveLabel")
                            }
                            else
                            {
                                <input type="checkbox" value="@Model.ProductBranch.IsActive"> @L("IsActiveLabel")
                            }
                        </label>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary">@L("EditButtonLabel")</button>
                    <button type="button" class="btn btn-primary">@L("DeleteButtonLabel")</button>
                </div>
            </form>
        </div>
    </div>
</div>
