@model WebShop.Web.Models.ProductMetaViewModel
@using (Html.BeginForm("Create", "AdminProductMeta", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">

              @if (@Model.ProductMeta != null)
              {
                  <h3 class="box-title">@Model.ProductMeta.Id - @Model.ProductMeta.MetaKey</h3>
              }
              else
              {
                  <h3 class="box-title">No Records Found</h3>
              }
            </div>
          <div class="box-header">
            <a href='@Url.Action("List")'>@L("BackButtonLabel")</a>
          </div>
            <form role="form">
                <div class="box-body">
                  <div class="form-group">
                    <label for="txtParentCat">@L("ProductIdLabel")</label>
                    @Html.DropDownListFor(@model => @model.ProductMeta.ProductId, (IEnumerable<SelectListItem>)ViewBag.ProductId, string.Empty, new { @class = "form-control without-styles" })
                  </div>
                  <div class="form-group">
                    <label for="txtMetaKey">@L("KeyLabel")</label>
                    @Html.TextBoxFor(@model => @model.ProductMeta.MetaKey, new { @id = "txtMetaKey", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtMetaValue">@L("ValueLabel")</label>
                    @Html.TextBoxFor(@model => @model.ProductMeta.MetaValue, new { @id = "txtMetaValue", @class = "form-control" })
                  </div>
                  <div class="form-group">
                    <label for="txtMetaNotes">@L("NotesLabel")</label>
                    @Html.TextBoxFor(@model => @model.ProductMeta.Notes, new { @id = "txtMetaNotes", @class = "form-control" })
                  </div>
                    <div class="checkbox">
                      <label>
                        @Html.CheckBoxFor(@model => @model.ProductMeta.IsActive) @L("IsActiveLabel")
                      </label>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">@L("SaveButtonLabel")</button>
                </div>
            </form>
        </div>
    </div>
</div>
}