<table id="shopping-cart-table" class="shopping-cart-table table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th class="td-name">@L("ProductNameLabel")</th>
            <th class="td-price">@L("UnitPriceLabel")</th>
            <th class="td-qty">@L("QuantityLabel")</th>
            <th class="td-price">@L("DiscountLabel")</th>
            <th class="td-total">@L("SubtotalLabel")</th>
            <th class="td-remove"></th>
        </tr>
    </thead>
    <tbody>
        @(ViewBag.Subtotal = 0)
        @foreach (var product in Model.InCartProducts)
        {
            <tr>
                <td class="td-images">
                    <a href="#" class="product-image">
                        <img class="replace-2x" src="@(string.Format(UploadUtility.IMAGE_CATEGORY, product.FeatureImage))" alt="@product.Name" title="@product.Name" width="70" height="70">
                    </a>
                </td>
                <td class="td-name">
                    <h2 class="product-name">
                        <a href="@Url.Action("Index", ControllerName.PRODUCT, new { productId = product.Id })">@product.Name</a>
                    </h2>
                </td>
                <td class="td-price">
                    <div class="price">@string.Format("{0} {1:N}", L("IndiaCurrency"), product.SellPrice)</div>
                </td>
                <td class="td-qty">
                    <input class="form-control" type="text" value="@product.Quantity">
                </td>
                <td class="td-price">
                    <div class="price">@string.Format("{0:P2}", product.Discount)</div>
                </td>
                <td class="td-total">
                    @{
                        var total = (product.SellPrice - (product.SellPrice * product.Discount)) * product.Quantity;
                        ViewBag.Subtotal += total;
                    }
                    <div class="price">@string.Format("{0} {1:N}", L("IndiaCurrency"), total)</div>
                </td>
                <td class="td-remove">
                    <a href="#" onclick="ShoppingCart.RemoveCartItem(@product.Id, true)" class="product-remove">
                        <svg x="0" y="0" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <g>
                            <path fill="#7f7f7f" d="M6,13c0.553,0,1-0.447,1-1V7c0-0.553-0.447-1-1-1S5,6.447,5,7v5C5,12.553,5.447,13,6,13z"></path>
                            <path fill="#7f7f7f" d="M10,13c0.553,0,1-0.447,1-1V7c0-0.553-0.447-1-1-1S9,6.447,9,7v5C9,12.553,9.447,13,10,13z"></path>
                            <path fill="#7f7f7f" d="M14,3h-1V1c0-0.552-0.447-1-1-1H4C3.448,0,3,0.448,3,1v2H2C1.447,3,1,3.447,1,4s0.447,1,1,1
                            c0,0.273,0,8.727,0,9c0,1.104,0.896,2,2,2h8c1.104,0,2-0.896,2-2c0-0.273,0-8.727,0-9c0.553,0,1-0.447,1-1S14.553,3,14,3z M5,2h6v1
                            H5V2z M12,14H4V5h8V14z"></path>
                        </g>
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    ShoppingCart.Subtotal = @ViewBag.Subtotal;
    
    if (ShoppingCart.Subtotal > 0) {
        var displayTotal =  $.formatNumber(ShoppingCart.Subtotal, { format: "₹ #,###.00", locale: "in" })
        $('#txtSubtotal').html(displayTotal);
        $('#txtGrandTotal').html(displayTotal);
    }
</script>
