@model WebShop.Web.Models.InvoiceViewModel
@using (Html.BeginForm("Create", "AdminInvoice", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">

            @if (@Model.Invoice != null)
            {
                <h3 class="box-title">@Model.Invoice.Id - @Model.Invoice.CustomerId</h3>
            }
            else
            {
                <h3 class="box-title">No Records Found</h3>
            }
          </div>
          <div class="box-header">
            <a href='@Url.Action("List")'>@L("BackButtonLabel")</a>
          </div>
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="txtCustomerId">@L("CustomerIdLabel")</label>
                @Html.DropDownListFor(@model => @model.Invoice.CustomerId, (IEnumerable<SelectListItem>)ViewBag.CustomerId, string.Empty, new { @class = "form-control without-styles" })
              </div>
              <div class="form-group">
                <label for="txtCreateBy">@L("CreateByLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.CreateBy, new { @id = "txtCreateBy", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtUpdateBy">@L("UpdateByLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.UpdateBy, new { @id = "txtUpdateBy", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtMetaNotes">@L("NotesLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.Notes, new { @id = "txtMetaNotes", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtInvoiceTotal">@L("InvoiceTotalLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.InvoiceTotal, new { @id = "txtInvoiceTotal", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtStatus">@L("StatusLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.Status, new { @id = "txtStatus", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtMetaNotes">@L("NotesLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.Notes, new { @id = "txtMetaNotes", @class = "form-control" })
              </div>
              <div class="checkbox">
                <label>
                  @Html.CheckBoxFor(@model => @model.Invoice.IsActive) @L("IsActiveLabel")
                </label>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">@L("SaveButtonLabel")</button>
            </div>
          </form>
        </div>
      </div>
    </div>
}