@model WebShop.Web.Models.InvoiceViewModel

@using (Html.BeginForm("Create", "Invoice", FormMethod.Post))
{
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            @if (@Model.Invoice != null)
            {
                <h3 class="box-title">@Model.Invoice.Id - @Model.Invoice.CustomerId</h3>
            }
            else
            {
                <h3 class="box-title">No factory CustomerId</h3>
            }
            @Html.ActionLink(L("BackButtonLabel"), "List", null, new { @class = "btn-link" })
          </div>
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="txtInvoiceCustomerId">@L("CustomerIdLabel")</label>
                @Html.TextBoxFor(@model => @model.Invoice.CustomerId, new { @id = "txtInvoiceCustomerId", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtInvoiceInvoiceTotal">@L("InvoiceTotal")</label>
                @Html.TextBoxFor(@model => @model.Invoice.InvoiceTotal, new { @id = "txtInvoiceInvoiceTotal", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtStatus">@L("Status")</label>
                @Html.TextBoxFor(@model => @model.Invoice.Status, new { @id = "txtStatus", @class = "form-control" })
              </div>
              <div class="form-group">
                <label for="txtNotes">@L("Notes")</label>
                @Html.TextBoxFor(@model => @model.Invoice.Notes, new { @id = "txtNotes", @class = "form-control" })
              </div>
              <div class="checkbox">
                <label>
                  @Html.CheckBoxFor(@model => @model.Invoice.IsActive) @L("IsActiveLabel")
                </label>
              </div>
            </div>
            <div class="box-footer">
              <!--<button type="button" class="btn btn-primary">@L("SaveButtonLabel")</button>-->
              <button type="submit" class="btn btn-primary">@L("SubmitButtonLabel")</button>
            </div>
          </form>
        </div>
      </div>
    </div>
}